<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/ZazuTizen" version="1.0.0" viewmodes="maximized">
    <access origin="https://www.tizen.org" subdomains="true"></access>
    <tizen:application id="yuzQDu7xqR.ZazuTizen" package="yuzQDu7xqR" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>ZazuTizen</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="tv"/>
</widget>
